@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root {
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary: #667eea;
    --color-secondary: #400879;
    --boton-padding: 20px 40px;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}

.subtitle {
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.hero {
    height: 100vh;
    background-image: var(--background), url('../imagenes/moto1.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: top; /* Ajustado a "top" para alinear la imagen con la parte superior */
    position: relative;
}

.hero .container {
    padding: 0;
}

* {
    padding: 0px;
    margin: 0px;
}

#header {
    margin: end;
    width: 500px;
}

ul,
ol {
    list-style: none;
}

.nav li a {
    background-color: rgb(98, 117, 161);
    color: aliceblue;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.nav li a:hover {
    background-color: #434343;
}

.nav > li {
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    gap: 30px;
}

.nav li:hover > ul {
    display: block;
}

.nav {
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
}

.nav--footer {
    font-weight: 300;
    justify-content: flex-start;
}

.nav__items {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

.nav__items--cta {
    border: 1px solid #fff;
}

.nav__items--footer {
    padding: 10px;
}

.hero__container {
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: #fff;
}

.hero__texts {
    width: 80%;
    margin-bottom: 50px;
}

.hero__title {
    font-size: 3.2rem;
}

.hero__subtitle {
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}

.hero__cta {
    display: inline-block;
    background: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;
    position: absolute;
    bottom: 50px; /* Ajusta la distancia desde la parte inferior según tus preferencias */
    right: 800px; /* Ajusta la distancia desde la derecha según tus preferencias */
}

.hero__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

/* about */

.presentation {
    padding-top: 0;
    text-align: center;
}

.presentation__picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.presentation__picture:hover {
    transform: scale(1.1);
    filter: brightness(0.8);
}

.presentation__copy {
    width: 80%;
    margin: 0 auto;
    font-size: 32px; /* Asegúrate de que esté en minúsculas */
    text-align: justify; /* Esta propiedad justificará el texto dentro del elemento */
}

.presentation__cta {
    display: inline-block;
    margin: 30px;
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
    padding: var(--boton-padding);
    border-radius: 40px;
}

.about {
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
}

.about__img {
    text-align: center;
}

.about__img--left {
    text-align: left;
}

.about__picture {
    max-width: 80%;
    box-shadow: 30px 20px 10px 10px #000;
    border-radius: 1em;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.about__picture:hover {
    transform: scale(1.05);
    box-shadow: 40px 30px 20px 20px #000;
}

.about__paragraph {
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}

/* projects */

.projects {
    background: #f2f2f2;
}

.projects__grid {
    display: grid;
    height: 550px;
    grid-template-areas:
        "imagen1 imagen1 imagen2 imagen3"
        "imagen1 imagen1 imagen4 imagen5"
        "imagen6 imagen6 imagen7 imagen8"
        "imagen6 imagen6 imagen9 imagen10";
    gap: 10px;
}

.projects__item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-in-out forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.projects__img:hover {
    transform: scale(1.05);
    filter: brightness(0.8);
}

.projects__item:nth-of-type(1) {
    grid-area:  imagen1;
    animation-delay: 0.1s;
}

.projects__item:nth-of-type(2) {
    grid-area:  imagen2;
    animation-delay: 0.2s;
}

.projects__item:nth-of-type(3) {
    grid-area:  imagen3;
    animation-delay: 0.3s;
}

.projects__item:nth-of-type(4) {
    grid-area:  imagen4;
    animation-delay: 0.4s;
}

.projects__item:nth-of-type(5) {
    grid-area:  imagen5;
    animation-delay: 0.5s;
}

.projects__item:nth-of-type(6) {
    grid-area:  imagen6;
    animation-delay: 0.6s;
}

.projects__item:nth-of-type(7) {
    grid-area:  imagen7;
    animation-delay: 0.7s;
}

.projects__item:nth-of-type(8) {
    grid-area:  imagen8;
    animation-delay: 0.8s;
}

.projects__item:nth-of-type(9) {
    grid-area:  imagen9;
    animation-delay: 0.9s;
}

.projects__item:nth-of-type(10) {
    grid-area:  imagen10;
    animation-delay: 1s;
}

.projects__hover {
    position: absolute;
    background: #6fecbc33;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.projects__item:hover .projects__hover {
    transform: translateX(0%);
}

.projects__icon {
    margin-top: 10px;
    font-size: 30px;
}

/* testimony */

.testimony__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
    place-content: auto;
}

.testimony__item {
    /* width: 80%; */ /* Puedes eliminar esta propiedad si deseas que los elementos ocupen todo el ancho */
    margin: 0 auto;
    background: var(--color-secondary);
    box-shadow: 0 15px 10px rgba(66, 66, 66, 0.521);
    border-radius: 7px;
    padding: 30px 25px;
    color: #fff;
    margin-bottom: 50px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.testimony__item:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 20px rgba(66, 66, 66, .7);
}

.testimony__person {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.testimony__img {
    width: 100px;
    min-width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-right: 30px;
    transition: transform 0.3s ease-in-out;
}

.testimony__img:hover {
    transform: scale(1.1);
}

.testimony__name {
     font-size: 1.5rem;
    margin-bottom: 5px;
}

.testimony__verification {
    color: #E0AFA0;
    font-weight: 700;
}

.testimony__review {
    font-weight: 300;
}

/* footer */

.footer {
    background: var(--color-primary);
}

.footer__grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}

.footer__title {
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

.footer__icons {
    display: flex;
    justify-content: space-evenly;
}

.footer__container-icons {
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.footer__container-icons:hover {
    transform: scale(1.1);
}

.footer__icon {
    color: inherit;
    font-size: 30px;
    text-decoration: none;
    line-height: 60px;
}

.fa-brands.footer__icon {
    line-height: 60px;
}

/* responsive design */

@media screen and (max-width: 800px) {
    :root {
        --boton-padding: 18px 40px;
    }

    .nav {
        justify-content: space-around;
    }

    .nav__items--cta {
        border: none;
    }

    .nav__items {
        font-weight: 400;
        border-bottom: 2px solid #fff;
        margin-right: 0;
    }

    .nav__items--footer {
        border: none;
    }

    .hero__texts {
        width: 100%;
        margin: 70px;
    }

    .hero__title {
        font-size: 2rem;
    }

    .hero__subtitle {
        font-size: .8rem;
    }

    /* about */

    .presentation__copy {
        width: 100%;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .about.container {
        padding-top: 30px;
    }

    .about__img--left {
        text-align: center;
    }

    .about__texts:last-child {
        grid-row: 3/4;
    }

    /* my projects */

    .projects__grid {
        grid-template-areas:
            "imagen1 imagen1 imagen2 imagen2"
            "imagen1 imagen1 imagen3 imagen3"
            "imagen4 imagen4 imagen5 imagen5"
            "imagen6 imagen6 imagen7 imagen7"
            "imagen6 imagen6 imagen8 imagen8"
            "imagen9 imagen9 imagen10 imagen10";
    }

    /* testimony */

    .testimony__grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    /* footer */

    .footer__grid {
        grid-template-columns: 1fr;
    }

    .footer__contact {
        grid-row: 1/2;
    }
}

@media screen and (max-width: 500px) {
    :root {
        --boton-padding: 18px 35px;
    }

    .subtitle {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .nav {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    .nav__items {
        padding: 0 10px;
        border: 0;
    }

    .hero__texts {
        text-align: center;
        margin-bottom: 100px;
    }

    .hero__title {
        font-size: 2rem;
    }

    /* about */

    .presentation__picture {
        width: 120px;
        height: 120px;
    }

    .about {
        row-gap: 60px;
    }

    .about.container {
        padding-top: 10px;
    }

    /* my projects */

    .projects__grid {
        grid-template-areas:
            imagen1
            imagen2
            imagen3
            imagen4
            imagen5
            imagen6
            imagen7
            imagen8
            imagen9
            imagen10;
        height: auto;
        grid-template-rows: repeat(5, 250px);
        grid-auto-rows: 250px;
        gap: 10px;
    }

    /* testimony */

    .testimony__item {
        padding: 30px 15px;
    }

    .testimony__person {
        flex-direction: column;
    }

    .testimony__text {
        text-align: center;
    }

    .testimony__img {
        margin: 0;
        margin-bottom: 20px;
    }
}


  
 
  
  .board {
    display:flex;
    justify-content: flex-end;
    align-items: stretch;
    gap: 10px; /* Espacio entre los elementos */
  }
  
  .white {
    position: relative;
    top:-255 ;
    width: 75px; /* Reducido al 25% */
    height: 400px; /* Reducido al 25% */
    background: #d46837;
    border-radius: 5px;
    box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.9),
      3px 3px 5px rgba(0, 0, 0, 0.7);
      z-index: 1;
  }
  
  .white h1 {
    position:absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    user-select: none;
  }
  
  .white:active {
    box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.9),
      3px 1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .black {
    position: relative;
    top: -160px; /* Ajustado para mantener el espacio */
    width: 45px; /* Reducido al 25% */
    height: 400px; /* Reducido al 25% */
    background: #c0501c;
    margin: 0 -22.5px; /* Ajustado para mantener el espacio */
    border-radius: 10px;
    box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.9),
      3px 3px 5px rgba(0, 0, 0, 0.7);
    z-index: 20;
  }
  
  .black h1 {
    position: absolute;
    top: 20px;
    left: 10px;
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%);
    user-select: none;
  }
  
  
  .black:active {
    box-shadow: -3px -3px 6px rgba(255, 255, 255, 0.9),
      3px 1px 0px rgba(0, 0, 0, 0.1);
  }
  
  @media only screen and (max-width: 600px) {
    /* Estilos para pantallas de hasta 600px de ancho */
    body {
      font-size: 16px; /* Cambiar el tamaño de fuente para pantallas pequeñas */
    }
  
    .header {
      display: none; /* Ocultar el encabezado en pantallas pequeñas */
    }
  
    .footer {
      background-color: #ccc; /* Cambiar el fondo del pie de página en pantallas pequeñas */
    }
  }